.backgroundWelcome {
    -fx-background-image: url("../images/welcomeBackground.gif");
    -fx-background-size: cover;
}

.backgroundEntrance {
    -fx-background-image: url("../images/entranceBackground.gif");
    -fx-background-size: cover;
}

.backgroundSignup {
    -fx-background-image: url("../images/signup.gif");
    -fx-background-size: cover;
}

.backgroundLogin {
    -fx-background-image: url("../images/login.gif");
    -fx-background-size: cover;
}

.backgroundSuccessfulSignup {
    -fx-background-image: url("../images/successfulSignup.png");
    -fx-background-size: cover;
}

.backgroundPolicies {
    -fx-background-image: url("../images/policies.jpg");
    -fx-background-size: cover;
}

.backgroundMainMenu {
    -fx-background-image: url("../images/mainMenu.png");
    -fx-background-size: cover;
}

.backgroundProfileMenu {
    -fx-background-image: url("../images/profileMenu.gif");
    -fx-background-size: cover;
}

.backgroundShopMenu {
    -fx-background-image: url("../images/shopMenu.gif");
    -fx-background-size: cover;
}

.backgroundImport {
    -fx-background-image: url("../images/import.gif");
    -fx-background-size: cover;
}

.buttonEntrance, .dialog-pane .button {
    -fx-background-color: rgba(39, 138, 88, 0.897);
    -fx-text-fill: rgb(255, 255, 255);
     -fx-background-radius: 10;
     -fx-cursor: hand;
}

.buttonEntrance:hover {
     -fx-background-color: rgb(161, 212, 168);
     -fx-text-fill: rgb(0, 0, 0);
     -fx-cursor: hand;
}

.buttonProfileMenu {
     -fx-background-radius: 10;
     -fx-cursor: hand;
}

.buttonProfileMenu:hover {
     -fx-background-color: white;
     -fx-text-fill: purple;
     -fx-cursor: hand;
}


.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scoreboard {
  -fx-font-size: 15pt ;
  -fx-background-image: url("../images/Scoreboard.jpg");
  -fx-background-size: cover;
}

.scoreboard-users {
    -fx-background-color: rgb(199, 240, 226);
    -fx-text-fill: purple;
    -fx-background-radius: 10;
  }

.scoreboard-user-in-game {
    -fx-background-color: rgb(21, 161, 115);
    -fx-text-fill: purple;
    -fx-background-radius: 10;
}

.decks {

}

.title-label {
   -fx-background-color: rgba(199, 240, 226, 0.479);
   -fx-background-radius: 10;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

.list-view .list-cell:even,
.list-view .list-cell:odd {
-fx-background-color: rgba(31, 17, 8, 0.685);

}


.list-view {
-fx-background-insets: 0;
    -fx-background-color: transparent;
}

.list-view .list-cell:filled:selected:focused,
.list-view .list-cell:filled:selected {
    -fx-background-color: rgba(212, 29, 29, 0.877);
    -fx-text-fill: white;
}

.deck-menu-background {
    -fx-background-image: url("../images/DeckMenu.jpg");
    -fx-background-size: cover;
}

.deck-detail {
        -fx-background-image: url("../images/DeckDetail.jpg");
        -fx-background-size: cover;
}

.dialog-pane:header .header-panel {
  -fx-background-color: rgba(212, 29, 29, 0.877);
}

.dialog-pane:header .header-panel .label{
  -fx-font-size:20.0px;
}

.dialog-pane > .content.label {
   -fx-font-size:15.0px;
}

.choice-box .context-menu {
-fx-background-color: black;
}
.choice-box .menu-item:focused {
-fx-background-color: orange;
}
.choice-box .menu-item > .label {
-fx-text-fill: white;
}
.choice-box .menu-item:focused > .label {
 -fx-text-fill: black;
 }

 .choice-box {
   -fx-background-color: black;
   -fx-mark-color: orange;
 }

 .choice-box > .label {
 -fx-text-fill: white;
 }