.backgroundWelcome {
    -fx-background-image: url("../images/welcomeBackground.gif");
    -fx-background-size: cover;
}

.backgroundEntrance {
    -fx-background-image: url("../images/entranceBackground.gif");
    -fx-background-size: cover;
}

.backgroundSignup {
    -fx-background-image: url("../images/signup.gif");
    -fx-background-size: cover;
}

.backgroundLogin {
    -fx-background-image: url("../images/login.gif");
    -fx-background-size: cover;
}

.backgroundSuccessfulSignup {
    -fx-background-image: url("../images/successfulSignup.png");
    -fx-background-size: cover;
}

.backgroundPolicies {
    -fx-background-image: url("../images/policies.jpg");
    -fx-background-size: cover;
}

.backgroundMainMenu {
    -fx-background-image: url("../images/mainMenu.png");
    -fx-background-size: cover;
}

.backgroundProfileMenu {
    -fx-background-image: url("../images/profileMenu.gif");
    -fx-background-size: cover;
}

.backgroundShopMenu {
    -fx-background-image: url("../images/shopMenu.gif");
    -fx-background-size: cover;
}

.backgroundImport {
    -fx-background-image: url("../images/import.gif");
    -fx-background-size: cover;
}

.buttonEntrance {
    -fx-background-color: rgba(39, 138, 88, 0.897);
    -fx-text-fill: rgb(255, 255, 255);
     -fx-background-radius: 10;
     -fx-cursor: hand;
}

.buttonEntrance:hover {
     -fx-background-color: rgb(161, 212, 168);
     -fx-text-fill: rgb(0, 0, 0);
     -fx-cursor: hand;
}

.buttonProfileMenu {
     -fx-background-radius: 10;
     -fx-cursor: hand;
}

.buttonProfileMenu:hover {
     -fx-background-color: white;
     -fx-text-fill: purple;
     -fx-cursor: hand;
}


.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scoreboard {
  -fx-font-size: 15pt ;
  -fx-background-image: url("../images/Scoreboard.jpg");
  -fx-background-size: cover;
}

.scoreboard-users {
    -fx-background-color: rgb(199, 240, 226);
    -fx-text-fill: purple;
    -fx-background-radius: 10;
  }

.decks {

}

.title-label {
   -fx-background-color: rgba(199, 240, 226, 0.479);
   -fx-background-radius: 10;
}